@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.menu-page {
    background-image: url('../assets/Board-bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  

  .start{
    text-decoration: none;
    color: transparent;

    border: 5px solid transparent;
    margin-bottom: 10rem;
    padding: .5rem 1.5rem;
    box-sizing: border-box;
    font-weight: bold;
    transition: background-color 0.2s ease;
    background-image: linear-gradient(to top, rgb(99, 81, 31), rgb(192, 160, 73));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .start-text{
    font-size: 64px;
    font-family: platypi;
  }
  
  .start:hover {
    background-image: linear-gradient(to top, rgb(75, 62, 23), rgb(136, 114, 52));
  }
  
  p{
    font-size: 24px;
    font-family: platypi;
    color: white;
    text-align: center;
    margin: 1rem 10rem;
}
h1{
    font-size: 72px;
    font-family: platypi;
    color: white;
    text-align: center;
    margin: 5rem 10rem;
}